div.icons {
width: 100px;
display: inline-block;
}
image.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
text-align: center;
}
.principal {
width: 1360px;
margin: auto;
}
.select2-container {
    width: 310px !important;
    margin-bottom: 12px;
}
.selector_grafica {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
