div.icons {
width: 100px;
display: inline-block;
}
image.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
text-align: center;
}
.select2-container {
    color: initial;
    width: 310px !important;
    margin-bottom: 12px;
}
.selector_grafica {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#ads {
  display: flex;
  justify-content: center;
  align-items: center;
}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
border-color: #96D4D4;
}
tr:nth-child(even) {
  background-color: DarkSlateGray ;
}
td {
  vertical-align: middle;
}
small {
padding-right: 3px;
padding-left: 3px;
}
 body {
  background: rgb(66, 66, 66);
  color: white;
}
.apexcharts-tooltip {
    color: black;
  }
.apexcharts-legend-text {
    color: white;
}
